@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #cef5e3;
  --primary-green: #00ba9f;
  --dark-green: #068f8f;
  --dark-green-button: #0DA399;
  --background-body: #fbfbfb;
  --text-color: #383a41;
  --blue-text-color: #383a41;
}

body {
  background-color: var(--background-body);
}

* {
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
}

.button-pattern-1 {
  padding: 8px 24px;
  height: 40px;
  font-size: 16px;
  background-color: var(--light-green);
  color: var(--dark-green);
}

.button-pattern-2 {
  padding: 6px 24px;
  height: 40px;
  font-size: 16px;
  background-color: var(--dark-green-button);
  color: #fff;

  span {
    font-size: 30px;
  }
}

.white-text {
  color: #fff !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}